{{ attach_library('theport/event-full') }}
{{ attach_library('theport/project-teaser') }}
{{ attach_library('theport/participant') }}
{{ attach_library('theport/partner') }}
{%
  set classes = [
    'event-full'
  ]
%}
<div{{attributes.addClass(classes)|without('role')}}>
  <section class="event-full-section">
    {{ content.body }}
  </section>
  <section class="event-full-section">
    <h2>{% trans %}Projects{% endtrans %}</h2>
    {{ drupal_view('event_projects', 'block_1') }}
  </section>
  <section class="event-full-section">
    <h2>{% trans %}Impressions{% endtrans %}</h2>
    {{ content.field_impressions }}
  </section>
  <section class="event-full-section">
    <h2>{% trans %}Participants{% endtrans %}</h2>
    {{ drupal_view('event_participants', 'block_1') }}
  </section>
  <section class="event-full-section">
    <h2>{% trans %}Partners{% endtrans %}</h2>
    {{ drupal_view('event_partners', 'block_1') }}
  </section>
</div>
