{{ attach_library('classy/node') }}
{{ attach_library('theport/event-teaser') }}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'event-teaser',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{attributes.addClass(classes)|without('role')}}>
  <div{{content_attributes.addClass('node__content')}}>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-5">
        {{ title_prefix }}
        {% if label and not page %}
          <h3{{title_attributes}}>{{ label }}</h3>
        {% endif %}
        {{ title_suffix }}
        <p>{{ content.field_about[0] }}</p>
        <p>
          <a href="{{ url }}" class="btn btn-primary">{% trans %}More{% endtrans %}</a>
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-7">{{ content.field_impressions }}</div>
    </div>
  </div>
</article>
