{{ attach_library('theport/project-teaser') }}

{#
  Based upon the Bootstrap Card component.
  @see https://getbootstrap.com/docs/5.0/components/card/
#}

<article class="card">
  <div class="card-image-container">
    {% if content.field_hero[0] is not empty %}
      {{ content.field_hero }}
    {% elseif content.field_drawing[0] is not empty  %}
      {{ content.field_drawing }}
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1600 900" xml:space="preserve">
        <linearGradient id="a" gradientunits="userSpaceOnUse" x1="800" y1="0" x2="800" y2="900">
          <stop offset="0" stop-color="#fbfaf7"/>
          <stop offset="1" stop-color="#f3f2ef"/>
        </linearGradient>
        <path fill="url(#a)" d="M0 0h1600v900H0z"/>
      </svg>
    {% endif %}
  </div>
  <div class="card-body">
    <p class="card-text">
      {% for key, item in content.field_teams if key|first != '#' %}
        {% if key != 0%},
        {% endif %}
        {{ item }}
      {% endfor %}
    </p>
    <h3 class="card-title">{{ label[0] }}</h3>
    {% if content.field_summary[0] is not empty %}
      <p class="card-text">{{ content.field_summary[0] }}</p>
    {% endif %}
    <a href="{{ url }}" class="card-link">{{ 'View Project'|t }}</a>
  </div>
</article>
