{#
  This is a copy of the block template from the Bartik theme that includes content attributes.
  It is needed for the "Layout Builder" and "Layout Builder Component Attributes" modules to work properly.

  @see ./core/themes/bartik/templates/block.html.twig
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
