{#
  This is a copy of the page template from the Bootstrap 5 theme.

  @see ./themes/contrib/bootstrap5/templates/layout/page.html.twig
#}
{%
set nav_classes = 'navbar navbar-expand-lg' ~ 
  (b5_navbar_schema != 'none' ? " navbar-#{b5_navbar_schema}" : ' ') ~
  (b5_navbar_schema != 'none' ? (b5_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_navbar_bg_schema != 'none' ? " bg-#{b5_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = ' ' ~ 
  (b5_footer_schema != 'none' ? " footer-#{b5_footer_schema}" : ' ') ~
  (b5_footer_schema != 'none' ? (b5_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_footer_bg_schema != 'none' ? " bg-#{b5_footer_bg_schema}" : ' ')
%}

<header>
  {{ page.header }}

  {% if page.nav_branding or page.nav_main or page.nav_additional %}  
  <nav class="{{ nav_classes }}">
    <div class="{{ b5_top_container }} d-flex">
      {{ page.nav_branding }}

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
        {{ page.nav_main }}
        {{ page.nav_additional }}
      </div>
    </div>
  </nav>
  {% endif %}

</header>

<main id="main-content">{# link is in html.html.twig #}
  <div class="{{ b5_top_container }}">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    {{ page.content }}
  </div>
</main>

{% if page.footer %}
<footer class="mt-auto {{ footer_classes }}">
  <div class="{{ b5_top_container }}">
    {{ page.footer }}
  </div>
</footer>
{% endif %}
