{{ attach_library('theport/project-teaser') }}

{#
  Based upon the Bootstrap Card component.
  @see https://getbootstrap.com/docs/5.0/components/card/
#}

<article class="card">
	<div class="card-image-container">
		{{ content.field_hero }}
	</div>
	<div class="card-body">
		<p class="card-text">{% for key, item in content.field_teams if key|first != '#' %}{% if key != 0%}, {% endif %}{{ item }}{% endfor %}</p>
		<h3 class="card-title">{{ label }}</h3>
		<p class="card-text">{{ node.body.summary }}</p>
		<a href="{{ url }}" class="card-link">{{ 'View Project'|t }}</a>
	</div>
</article>
